.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.scroll {
  position: fixed;
  z-index: 999;
  bottom: 5px;
  right: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  outline: none;
  margin-right: 2%;
  margin-bottom: 4%;
  color: white;
}
