<mat-list style="width: 300px">
  <mat-list-item>
    <button mat-button (click)="this.toggleSidenav()">
      <!--      <button mat-button (click)="sidenav.close()" style="padding-left: 1em">-->
      <mat-icon>clear</mat-icon>
      <!--  <span style="padding-right: 1em; padding-top: 2em">-->
      <!--      <span>-->
      <!--      <img src="assets/X5_retail_group.svg" width="150px" height="20px">-->
      <!--      </span>-->
    </button>
  </mat-list-item>
  <mat-hint></mat-hint>
  <mat-list-item>
    <button mat-button routerLink="/added" (click)="toggleSidenav()">
      <mat-icon>bookmark</mat-icon>
      <span>&nbsp;</span>
      <span>Мои слова</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/exercises" (click)="this.toggleSidenav()">
      <mat-icon>list_alt</mat-icon>
      <span>&nbsp;</span>
      <span>Упражнения</span>
    </button>
  </mat-list-item>
  <mat-list-item>
    <button mat-button routerLink="/profile" (click)="this.toggleSidenav()">
      <mat-icon>perm_contact_calendar</mat-icon>
      <span>&nbsp;</span>
      <span>Мой профиль</span>
    </button>
  </mat-list-item>
<!--  perm_contact_calendar-->
  <mat-hint></mat-hint>
</mat-list>

